* {
    border: 0px;
    padding: 0px;
}

*,
::before,
::after {
    box-sizing: border-box;
}

/* colors
EFF5F5 - background
D6E4E5 - border
497174 - text
EB6440 - error
*/

body {
    width: 98vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40vw;
    height: 50vw;
    border: .1rem solid #D6E4E5;
    background-color: #EFF5F5;
}

.flex-button {
    display: flex;
    width: 8vw;
    height: 8vw;
    border: .1rem solid #D6E4E5;
    background-color: #EFF5F5;
    justify-content: center;
    align-items: center;
    color: #497174;
}

#result textarea {
    display: flex;
    width: 38vw;
    height: 8vw;
    margin-top: .9vw;
    background-color: rgb(228, 228, 228);
    border: .1rem solid #D6E4E5;
}

textarea {
    text-align: end;
    font-size: 6vw;
}
